body {
  color: #434455;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 2%;
  font-size: 16px;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}
a:hover,
a:focus {
  color: #404bbf;
}
ul {
  list-style-type: none;
  line-height: 1.5;
}
.logo {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.16;
}
.logo .accent {
  color: #4d5ae5;
}

.nav {
  color: #2e2f42;
}

.hero-section {
  font-weight: 700;
  color: #ffffff;
  background-color: #2e2f42;
  font-size: 56px;
  line-height: 1.1;
}
.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.title {
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.1;
}
.title-secondary {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.team-section {
  background-color: #f4f4fd;
}
.team-element {
  background-color: #ffffff;
}
.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
}
.accent-footer {
  color: #f4f4fd;
}
